.git
.github
.idea
.vscode
Dockerfile
.dockerignore
compose.yaml
docker
deploy
node_modules
vendor
public/build
public/hot
public/storage
database/*.sqlite*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/*.key
bootstrap/cache/*.php
.env
.env.*
!.env.example
tests
*.md
.DS_Store
